{
    "keep": {
        "days": true,
        "amount": 15
    },
    "auditLog": "C:\\Tripod Team Projects\\ProjectXYZ\\backend\\cloud-cms-dbitfgw\\src\\log-config\\SMS-TGSC.config",
    "files": [
        {
            "date": 1592718089562,
            "name": "C:\\Tripod Team Projects\\ProjectXYZ\\backend\\cloud-cms-dbitfgw\\src\\log\\SMS-TGSC_20200621.log",
            "hash": "8e92e5ff4192c5fab9f4b7f592262f55"
        },
        {
            "date": 1593608537805,
            "name": "C:\\Tripod Team Projects\\ProjectXYZ\\backend\\cloud-cms-dbitfgw\\src\\log\\SMS-TGSC_20200701.log",
            "hash": "20b09cead88e4d7ecddb823c79a719a2"
        }
    ]
}